
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    /* background-color: aquamarine; */
}

.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 10px 10px 10px rgba(33, 32, 32, 0.5);
    border-radius: 10px;
}
.title_small{
    font-size: 20px;
}

.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 5PX;
}

input, select, textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

input:focus{
    outline-color: red;
}

.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button{
    padding: 10px 18px;
    background-color: green;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 6px;
    font-size: 15px;
    transition: .2s ease-in;
}
button:hover{
    background-color: rgb(49, 162, 49);
    border: 2px solid rgb(181, 181, 181);
    transition: 0.2s ease-out;
    cursor: pointer;
    /* transform: translateY(30deg); */
}

.textarea_control{
    grid-column: 1 / span 2;
}
.textarea_control textarea{
    width: 100%;
}

/* Responsive */

@media( max-width:459px){
    .textarea_control{
        grid-column: 1 / span 1;
    }

    .button_container{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    button{
        padding: 10px 18px;
        background-color: green;
        color: #fff;
        border: 2px solid transparent;
        border-radius: 6px;
        font-size: 15px;
        transition: .2s ease-in;
    }
    button:hover{
        background-color: rgb(49, 162, 49);
        border: 2px solid rgb(181, 181, 181);
        transition: 0.2s ease-in-out;
        cursor: pointer;
        /* transform: translateY(30deg); */
    }
}